<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="TaketimeConnectionString" connectionString="Data Source=192.168.80.31;Initial Catalog=TakeTime;User ID=admin;Password=Racc00n@@306" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DatabaseType" value="MSSQL" />
    <add key="BaseFolderPath" value="C:\Users\Wachira.Diloksumpan\source\repos\Take Time BangPhra\Take Time BangPhra" />
    <add key="ReceiptFolderPath" value="C:\Users\Wachira.Diloksumpan\source\repos\Take Time BangPhra\Take Time BangPhra\Documents\Receipt" />
    <add key="PaymentFolderPath" value="C:\Users\Wachira.Diloksumpan\source\repos\Take Time BangPhra\Take Time BangPhra\Documents\Payment" />
    <add key="ImagesFolderPath" value="C:\Users\Wachira.Diloksumpan\source\repos\Take Time BangPhra\Take Time BangPhra\Images" />
    <add key="StaffSignatureFolderPath" value="C:\Users\Wachira.Diloksumpan\source\repos\Take Time BangPhra\Take Time BangPhra\Documents\Staff\Signature" />
    <add key="GooglePlacesApiKey" value="AIzaSyDKULLtZZUAqQmgbW9kaTy_SPt4o-Jcp8U" />
    <add key="lineurl" value="https://notify-api.line.me/api/notify" />
    <add key="linetoken" value="SgfLVPU4YomP6V9Tag4zRgDrjudnStiDpz0j9m5kr3W" />
    <add key="linechannelaccesstokentaketime" value="gnZ0OSsWjgtCnp6z0+AZF5V6+g225R5NQpAhOrLe7DL6dFoWjGQ6kvaRcnuFmseHqMdhnY7HpzA9Uk+rauq5XG2CAZLKDKa6vkKz9cWyFIQsHj5+VZMdLOLdRW2MfLDNKxxy5nZ1CsGT86H0e9dXfgdB04t89/1O/w1cDnyilFU=" />
    <add key="lineuserid" value="Ccf82e94eb4f39cc97eaecdeae2edfd16" />
    <add key="SMTP" value="smtp.gmail.com" />
    <add key="SMTP_Port" value="587" />
    <add key="SMTP_EnableSsl" value="true" />
    <add key="SMTP_UseDefaultCredentials" value="false" />
    <add key="Email_From_Name" value="Take Time BangPhra" />
    <add key="Email_From" value="taketime.bangphra@gmail.com" />
    <add key="Email_Password_From" value="fwnsviqejcznhgcn" />
    <add key="Email_CC" value="csemail@etax.teda.th" />
    <add key="TelegramTokenTakeTime" value="8427966266:AAGTS5rbOAw-3e0i9kFO2M-JSjBNQaU9pNs" />
    <!-- OCR Settings (Disabled - Tesseract not installed) -->
    <add key="TesseractDataPath" value="~/tessdata" />
    <add key="OCR_Enabled" value="false" />
    <add key="OCR_MinConfidenceThreshold" value="70" />
  </appSettings>
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.7.2">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.7.2" />
    <!--
      Enable UTF-8 encoding for Thai language support
      Note: culture="th-TH" is overridden in Global.asax.cs Application_BeginRequest
      to use Gregorian calendar (Christian year 2025) instead of Buddhist calendar (2568)
      This ensures dates display as ค.ศ. while maintaining Thai language/format
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="th-TH" uiCulture="th-TH" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <!--
      Commented out - IIS Integrated Mode uses handlers in system.webServer instead
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
    </httpHandlers>
    -->
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.5" newVersion="8.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <!--
      Commented out to fix assembly loading error.
      If ReportViewer (.rdlc) reports are needed, uncomment this handler
      and ensure NuGet package is properly restored.
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
    -->
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
  </system.webServer>
</configuration>